section{
  height: 80vmin;
  width: 80vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

#board{
  border: 6vmin solid #503c28;
}

#start, #win{
  width: 40vmin;
  height: 50vmin;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;

  padding: 3vmin 6vmin 19vmin 6vmin;
  font-size: 3vmin;
  background-color: bisque;
  border: 1px solid #050a00;
}

#win{
  display: none;
  height: 10vmin;
}

#start button{
  display: block;
  margin: auto;
  width: 25vmin;
  height: 12vmin;
  font-size: 2vmin;
  text-align: center;
}

aside{
  position: absolute;
  top: calc(50% - 43vmin);
  left: 50%;
  transform: translate(-50%, -50%);
  
  z-index: 99;
  width: 92vmin;
  height: 6vmin;
  
  display: flex;
  justify-content: space-between;
  
  color: white;
  font-size: 3vmin;
  background-color: #503c28;
}

aside *{
  margin: 1vmin 6vmin;
  padding: none;
}

aside button{
height: 5vmin;
font-size: 4vmin;
}

#win button, #start button{
font-size: 7vmin;
text-align: center;
padding: 0;

}

div{
  background-color: #2f6161;
}

div:nth-of-type(odd){
  background-color: #ffffeb;
}

section#red div{
  opacity: 0;
  background-color: red;
}

div[onclick]{
  opacity: 0;
}

#ad11{
display: block;
}
  
.fake{
  display: none;
}

#knight{
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  grid-row-start: 5;
  grid-column-start: 6;
}

#knight img{
  width: 100%;
  height: 100%;
}